
#shape {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
}

#area {
  position: relative;
  height: 800px;
  background: lightgrey;
}